/*===================== TABLE OF CONTENT =======================
1. Reset CSS
2. Fonts
3. General Styling
=============================================================*/
/* ==== All tag Start ==== */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

html[hide-scrollbar="true"]::-webkit-scrollbar {
  display: none; }

body {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden;
  background: #ffffff; }

body,
html {
  height: 100%; }

.wow {
  visibility: hidden; }

body::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
  background-color: #e7e7e7;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

body::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  width: 10px; }

body::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
  background-color: #118161;
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  -ms-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  -o-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3); }

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s; }

textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s; }

textarea::-ms-input-placeholder,
input::-ms-input-placeholder {
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s; }

textarea::placeholder,
input::placeholder {
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s; }

ul,
ol {
  list-style-type: none;
  margin: 0; }

a,
a:hover,
a:active,
a:visited,
a:focus {
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
  outline: 0 !important; }

img {
  border: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  margin: 0px; }

p {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0px; }

.clr {
  clear: both; }

.corp {
  overflow: hidden; }

.corp-y {
  overflow-y: hidden; }

.corp-x {
  overflow-x: hidden; }

.d-ib {
  display: inline-block; }

.bdrs-5 {
  border-radius: 5px; }

.bdrs-0 {
  border-radius: 0; }

.no-border {
  border: none !important; }

.no-flex {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none; }

.row-flex-none {
  display: block;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.section-gap {
  padding: 95px 0px; }

.section-gap-top {
  padding-top: 95px; }

.section-gap-top-big {
  padding-top: 170px; }

.section-gap-bottom {
  padding-bottom: 95px; }

.section-gap-m {
  margin: 95px 0px; }

.section-gap-top-m {
  margin-top: 95px; }

.section-gap-bottom-m {
  margin-bottom: 95px; }

.wrapper-gap {
  padding: 40px 20px; }

.display-table {
  display: table;
  width: 100%;
  height: 100%; }
  .display-table .display-content {
    vertical-align: middle;
    display: table-cell; }

/* ==== All tag End ==== */
/* ==== All-header ==== */
.all-header {
  text-align: center;
  padding: 0px 0px 40px 0px;
  color: #cccccc; }
  .all-header h1,
  .all-header h2,
  .all-header h3 {
    font-weight: 700;
    font-size: 26px;
    color: #118161; }
    .all-header h1 a,
    .all-header h2 a,
    .all-header h3 a {
      color: inherit;
      font-size: inherit; }
  .all-header img {
    width: 160px;
    height: 4px;
    border-radius: 4px; }
  .all-header p {
    font-weight: 400;
    font-size: 16px;
    color: #000000; }

.just-grd {
  background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 15%, #b8b8b8 50%, #ffffff 85%, #ffffff 100%);

  -webkit-text-fill-color: transparent; }

/* ==== All-header ==== */
/* ==== All-button ==== */
.btn {
  position: relative;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-weight: 400;
  border: 1px outset transparent;
  background: #118161;
  color: #ffffff;
  box-shadow: 3px 3px 20px 2px rgba(17, 129, 97, 0.3);
  padding: 12px 5px;
  border-radius: 50px;
  max-width: 200px;
  width: 100%;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s; }
  .btn:hover {
    background: #ffffff;
    border: 1px outset #118161;
    color: #118161; }

.main-dot-img {
  width: 400px; }

/* ==== All-button ==== */
/* ==== menu-part ==== */
#navbar-main {
  background: #fcfcfc;
  border-bottom: 1px solid transparent;
  padding: 18px 0px;
  box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.2);
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s; }

.banner-manu-black {
  padding: 10px 0px !important;
  background: linear-gradient(90.25deg, rgba(252, 252, 252, 0.35) 5.68%, rgba(252, 252, 252, 0.3) 143.91%) !important;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px); }
  .banner-manu-black .navbar-expand-lg .navbar-nav .logo-gap .logo-main img {
    max-height: 80px !important; }

.navbar-brand {
  padding: 0;
  margin: 0;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s; }
  .navbar-brand .nav-logo {
    max-height: 80px; }

.navbar-expand-lg {
  padding: 0; }
  .navbar-expand-lg .logo-main-top img {
    max-height: 75px;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s; }
  .navbar-expand-lg .navbar-nav .nav-item {
    display: flex;
    padding: 15px 12px; }
    .navbar-expand-lg .navbar-nav .nav-item:hover .nav-link {
      flex: auto;
      color: #118161; }
    .navbar-expand-lg .navbar-nav .nav-item .nav-link {
      color: #000000;
      font-weight: 400;
      font-size: 18px;
      text-decoration: none;
      padding: 0px 0px;
      position: relative;
      -webkit-transition: all linear 0.3s;
      -moz-transition: all linear 0.3s;
      -ms-transition: all linear 0.3s;
      -o-transition: all linear 0.3s;
      transition: all linear 0.3s; }
      .navbar-expand-lg .navbar-nav .nav-item .nav-link p {
        color: inherit;
        font-weight: inherit;
        font-size: inherit;
        display: inline-block;
        vertical-align: middle; }
      .navbar-expand-lg .navbar-nav .nav-item .nav-link img {
        display: inline-block;
        vertical-align: middle; }
    .navbar-expand-lg .navbar-nav .nav-item .dropdown-toggle:after {
      display: inline-block;
      margin-left: 5px;
      vertical-align: 3px;
      content: "";
      border-top: .3em solid;
      border-right: .3em solid transparent;
      border-bottom: 0;
      border-left: .3em solid transparent; }
    .navbar-expand-lg .navbar-nav .nav-item .dropdown-menu {
      top: 80%;
      left: 50%;
      transform: translateX(-50%);
      min-width: 250px;
      padding: 15px 10px;
      text-align: center;
      font-size: inherit;
      color: #ffffff;
      border-radius: 15px;
      box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.3);
      background: #395c53;
      background: -moz-linear-gradient(90deg, #395c53 0%, #118161 50%, #395c53 100%);
      background: -webkit-linear-gradient(90deg, #395c53 0%, #118161 50%, #395c53 100%);
      background: linear-gradient(90deg, #395c53 0%, #118161 50%, #395c53 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#395c53", endColorstr="#395c53", GradientType=1); }
      .navbar-expand-lg .navbar-nav .nav-item .dropdown-menu h5 {
        font-size: 20px;
        padding-bottom: 10px; }
      .navbar-expand-lg .navbar-nav .nav-item .dropdown-menu .form-control {
        border-radius: 10px;
        font-size: 15px;
        color: #9C9C9C;
        margin-bottom: 10px;
        border: 1px solid #fff; }
      .navbar-expand-lg .navbar-nav .nav-item .dropdown-menu .btn {
        background: #ffffff;
        color: #000000;
        box-shadow: none;
        border-radius: 15px;
        font-size: 14px;
        padding: 5px 5px;
        max-width: 130px;
        margin-bottom: 10px; }
        .navbar-expand-lg .navbar-nav .nav-item .dropdown-menu .btn:hover {
          background: #ffffff00;
          border: 1px solid #ffffff;
          color: #ffffff; }
      .navbar-expand-lg .navbar-nav .nav-item .dropdown-menu p {
        font-weight: 300;
        font-size: 12px;
        padding-bottom: 5px; }
        .navbar-expand-lg .navbar-nav .nav-item .dropdown-menu p a {
          color: inherit;
          font-size: inherit; }
      .navbar-expand-lg .navbar-nav .nav-item .dropdown-menu a {
        color: inherit;
        font-weight: 300;
        font-size: 12px;
        padding-right: 30px; }
        .navbar-expand-lg .navbar-nav .nav-item .dropdown-menu a:last-child {
          padding-right: 0px; }
    .navbar-expand-lg .navbar-nav .nav-item .active {
      color: #118161; }

.navbar-toggler {
  padding: 4px 8px;
  font-size: 1.25rem;
  line-height: 1;
  color: #118161;
  border: 1px outset #118161;
  background: rgba(252, 252, 252, 0);
  border-radius: 0;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s; }
  .navbar-toggler:focus, .navbar-toggler:hover {
    outline: 0; }
  .navbar-toggler .navbar-toggler-ico {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    padding: 4px 0;
    background-size: 100% 100%; }
    .navbar-toggler .navbar-toggler-ico .icon-bar {
      display: block;
      width: 30px;
      height: 3px;
      border-radius: 0px;
      background-color: #118161;
      -webkit-transition: all linear 0.3s;
      -moz-transition: all linear 0.3s;
      -ms-transition: all linear 0.3s;
      -o-transition: all linear 0.3s;
      transition: all linear 0.3s; }
      .navbar-toggler .navbar-toggler-ico .icon-bar + .icon-bar {
        margin-top: 6px; }

/* ==== menu-part ==== */
/* ==== Banner Start ==== */
#banner {
  padding: 250px 0px 80px 0px;
  background: #ffffff;
  position: relative; }
  #banner .banner-obj1 {
    position: absolute;
    top: 130px;
    left: 50px; }
  #banner .banner-obj2 {
    position: absolute;
    bottom: 0;
    right: 50px; }
  #banner .banner-text h1 {
    font-weight: 700;
    font-size: 56px;
    color: #118161; }
  #banner .banner-text p {
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    padding: 10px 0px 10px 0px; }
  #banner .banner-img {
    position: relative; }
    #banner .banner-img img {
      position: absolute;
      top: -65px;
      left: 0;
      width: 670px; }

/* ==== Banner End ==== */
/* ==== offer Start ==== */
#offer {
  padding-top: 40px;
  position: relative; }
  #offer .offer-obj {
    position: absolute;
    top: 0px;
    left: 50px; }
  #offer .offer-box {
    background: #ffffff;
    box-shadow: 0px 8px 20px rgba(201, 223, 168, 0.3);
    border-radius: 20px;
    text-align: center;
    padding: 50px 20px;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s; }
    #offer .offer-box:hover {
      box-shadow: 0px 8px 20px rgba(201, 223, 168, 0.5); }
      #offer .offer-box:hover img {
        transform: scale(1.1); }
    #offer .offer-box img {
      transform: scale(0.95);
      -webkit-transition: all linear 0.3s;
      -moz-transition: all linear 0.3s;
      -ms-transition: all linear 0.3s;
      -o-transition: all linear 0.3s;
      transition: all linear 0.3s; }
    #offer .offer-box p {
      font-weight: 700;
      font-size: 22px;
      color: #000000;
      padding: 20px 0px 0px 0px; }

/* ==== offer End ==== */
/* ==== best-deal Start ==== */
#best-deal {
  position: relative; }
  #best-deal .best-deal-obj {
    position: absolute;
    top: 60px;
    right: 50px; }
  #best-deal .best-deal-main {
    background: #395c53;
    background: -moz-linear-gradient(90deg, #395c53 0%, #118161 50%, #395c53 100%);
    background: -webkit-linear-gradient(90deg, #395c53 0%, #118161 50%, #395c53 100%);
    background: linear-gradient(90deg, #395c53 0%, #118161 50%, #395c53 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#395c53", endColorstr="#395c53", GradientType=1);
    border-radius: 20px;
    padding: 10px 10px 20px 10px;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s; }
    #best-deal .best-deal-main:hover {
      box-shadow: 0px 8px 20px rgba(201, 223, 168, 0.5); }
      #best-deal .best-deal-main:hover .best-deal-main-img img {
        transform: scale(1.2); }
    #best-deal .best-deal-main .best-deal-main-img {
      overflow: hidden;
      border-radius: 20px; }
      #best-deal .best-deal-main .best-deal-main-img img {
        transform: scale(1);
        -webkit-transition: all linear 0.3s;
        -moz-transition: all linear 0.3s;
        -ms-transition: all linear 0.3s;
        -o-transition: all linear 0.3s;
        transition: all linear 0.3s;
        width: 100%; }
    #best-deal .best-deal-main .best-deal-main-text {
      color: #ffffff;
      text-align: center; }
      #best-deal .best-deal-main .best-deal-main-text h4 {
        font-size: 18px;
        padding-top: 15px; }
      #best-deal .best-deal-main .best-deal-main-text p {
        padding: 8px 0px 20px 0px; }
      #best-deal .best-deal-main .best-deal-main-text .btn {
        background: #ffffff;
        color: #000000;
        box-shadow: none;
        border-radius: 15px;
        font-size: 16px;
        padding: 7px 5px;
        max-width: 150px; }
        #best-deal .best-deal-main .best-deal-main-text .btn:hover {
          background: #ffffff00;
          border: 1px solid #ffffff;
          color: #ffffff; }

/* ==== best-deal End ==== */
/* ==== financial Start ==== */
#financial {
  position: relative;
  padding: 50px 0px 250px; }
  #financial .financial-obj1 {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%); }
  #financial .financial-obj2 {
    position: absolute;
    bottom: 40px;
    left: 50px; }
  #financial .financial-img {
    position: relative; }
    #financial .financial-img img {
      position: absolute;
      top: 0;
      left: -50px; }
  #financial .financial-main .financial-box .financial-subBox {
    padding: 0px 0px 40px 60px; }
    #financial .financial-main .financial-box .financial-subBox:last-child {
      padding-bottom: 0px; }
    #financial .financial-main .financial-box .financial-subBox .financial-icn {
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      width: 20%; }
    #financial .financial-main .financial-box .financial-subBox .financial-text {
      display: inline-block;
      vertical-align: middle;
      text-align: left;
      color: #000000;
      width: 65%; }
      #financial .financial-main .financial-box .financial-subBox .financial-text h5 {
        font-size: 20px; }
      #financial .financial-main .financial-box .financial-subBox .financial-text p {
        font-size: 16px; }

/* ==== financial End ==== */
/* ==== count Start ==== */
#count {
  background: #395c53;
  background: -moz-linear-gradient(90deg, #395c53 0%, #118161 50%, #395c53 100%);
  background: -webkit-linear-gradient(90deg, #395c53 0%, #118161 50%, #395c53 100%);
  background: linear-gradient(90deg, #395c53 0%, #118161 50%, #395c53 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#395c53", endColorstr="#395c53", GradientType=1); }
  #count .count-text {
    color: #ffffff;
    text-align: center; }
    #count .count-text h5 {
      font-weight: 600;
      font-size: 30px;
      padding-bottom: 5px; }
    #count .count-text p {
      font-size: 20px; }

/* ==== count End ==== */
/* ==== review Start ==== */
#review {
  background: url(../images/reviewbg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  #review .review-text h3 {
    font-weight: 400;
    font-size: 40px;
    color: #000000; }
    #review .review-text h3 span {
      font-weight: 500;
      color: #118161; }
  #review .review-box {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 10px 15px; }
    #review .review-box .review-box-text p {
      font-weight: 300;
      font-size: 16px;
      text-align: justify; }
    #review .review-box .review-box-text h6 {
      font-weight: 600;
      font-size: 16px;
      padding: 15px 0px 0px 0px;
      color: #118161;
      text-align: justify; }
    #review .review-box .review-box-text span {
      font-weight: 400;
      font-size: 14px; }

/* ==== review End ==== */
/* ==== partner-part ==== */
#partner {
  position: relative; }
  #partner .partner-obj1 {
    position: absolute;
    top: -50px;
    left: 50px; }
  #partner .partner-obj2 {
    position: absolute;
    bottom: -50px;
    right: 50px; }
  #partner .partner-logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 0px;
    margin: 15px 0px;
    border-radius: 15px;
    background: #e0f2ed;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s; }
    #partner .partner-logo-box:hover a img {
      transform: scale(1); }
    #partner .partner-logo-box a {
      text-align: center; }
      #partner .partner-logo-box a img {
        margin: auto;
        transform: scale(0.95);
        -webkit-transition: all linear 0.5s;
        -moz-transition: all linear 0.5s;
        -ms-transition: all linear 0.5s;
        -o-transition: all linear 0.5s;
        transition: all linear 0.5s; }

/* ==== partner-part ==== */
/* ==== readmore-part ==== */
#readmore {
  background: #E0F2ED; }
  #readmore .readmore-main {
    background: #ffffff;
    padding: 10px 15px; }
    #readmore .readmore-main:hover .readmore-main-img img {
      transform: scale(1.2); }
    #readmore .readmore-main .readmore-main-img {
      overflow: hidden;
      text-align: center;
      border-radius: 20px; }
      #readmore .readmore-main .readmore-main-img img {
        transform: scale(1);
        width: 100%;
        -webkit-transition: all linear 0.3s;
        -moz-transition: all linear 0.3s;
        -ms-transition: all linear 0.3s;
        -o-transition: all linear 0.3s;
        transition: all linear 0.3s; }
    #readmore .readmore-main .readmore-main-text {
      color: #000000; }
      #readmore .readmore-main .readmore-main-text h4 {
        font-size: 18px;
        padding-top: 10px; }
      #readmore .readmore-main .readmore-main-text p {
        font-weight: 300;
        padding: 10px 0px 10px 0px;
        text-align: justify; }
      #readmore .readmore-main .readmore-main-text a {
        font-weight: 600;
        font-size: 14px;
        color: #118161;
        -webkit-transition: all linear 0.3s;
        -moz-transition: all linear 0.3s;
        -ms-transition: all linear 0.3s;
        -o-transition: all linear 0.3s;
        transition: all linear 0.3s; }
        #readmore .readmore-main .readmore-main-text a i {
          font-size: inherit;
          padding-left: 5px;
          -webkit-transition: all linear 0.3s;
          -moz-transition: all linear 0.3s;
          -ms-transition: all linear 0.3s;
          -o-transition: all linear 0.3s;
          transition: all linear 0.3s; }
        #readmore .readmore-main .readmore-main-text a:hover i {
          padding-left: 10px; }

/* ==== readmore-part ==== */
/* ==== Footer Start ==== */
#footer {
  background: #395c53;
  background: -moz-linear-gradient(90deg, #395c53 0%, #118161 50%, #395c53 100%);
  background: -webkit-linear-gradient(90deg, #395c53 0%, #118161 50%, #395c53 100%);
  background: linear-gradient(90deg, #395c53 0%, #118161 50%, #395c53 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#395c53", endColorstr="#395c53", GradientType=1);
  padding: 60px 0px; }
  #footer .footer-box {
    color: #ffffff;
    font-size: 15px; }
    #footer .footer-box p {
      padding-bottom: 10px; }
    #footer .footer-box ul li {
      padding-bottom: 10px; }
      #footer .footer-box ul li:last-child {
        padding-bottom: 0px; }
      #footer .footer-box ul li i {
        font-size: 16px;
        padding-right: 5px; }
      #footer .footer-box ul li a {
        font-weight: 300;
        font-size: 16px;
        color: #ffffff; }

#footer-social-link {
  padding: 20px 0px; }
  #footer-social-link .footer-social-box {
    text-align: center; }
    #footer-social-link .footer-social-box p {
      color: #000000;
      font-weight: 500;
      padding-bottom: 10px; }
    #footer-social-link .footer-social-box ul li {
      display: inline-block;
      margin-left: 10px; }
      #footer-social-link .footer-social-box ul li:first-child {
        margin-left: 0px; }
      #footer-social-link .footer-social-box ul li a {
        background: transparent;
        border-radius: 15px;
        border: 1px outset #118161;
        width: 40px;
        height: 40px;
        line-height: 42px;
        cursor: pointer;
        display: block;
        text-align: center; }
        #footer-social-link .footer-social-box ul li a i {
          color: #118161;
          font-size: 20px; }

#footer-bottom {
  background: #395c53;
  background: -moz-linear-gradient(90deg, #395c53 0%, #118161 50%, #395c53 100%);
  background: -webkit-linear-gradient(90deg, #395c53 0%, #118161 50%, #395c53 100%);
  background: linear-gradient(90deg, #395c53 0%, #118161 50%, #395c53 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#395c53", endColorstr="#395c53", GradientType=1);
  padding: 25px 0px;
  border-top: 1px outset #ffffff; }
  #footer-bottom .footer-bottom-box {
    color: #ffffff;
    font-size: 15px;
    text-align: center; }
    #footer-bottom .footer-bottom-box p {
      font-size: 16px;
      font-weight: normal; }
    #footer-bottom .footer-bottom-box a {
      font-size: 16px;
      color: #ffffff; }

/* ==== Footer End ==== */
/* ==== Loan-page Start ==== */
/* --- all-loan-section Start --- */
#all-loan-section {
  background: url(../images/bg-all.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  padding: 250px 0px 150px 0px;
  position: relative; }
  #all-loan-section .all-loan-obj1 {
    position: absolute;
    top: 150px;
    left: 50px; }
  #all-loan-section .all-loan-obj2 {
    position: absolute;
    bottom: 0px;
    right: 20px; }
  #all-loan-section .all-loan-header {
    text-align: center; }
    #all-loan-section .all-loan-header h3 {
      font-size: 40px;
      padding-bottom: 30px;
      color: #118161; }
  #all-loan-section .all-loan-box {
    background: #395c53;
    background: -moz-linear-gradient(90deg, #395c53 0%, #118161 50%, #395c53 100%);
    background: -webkit-linear-gradient(90deg, #395c53 0%, #118161 50%, #395c53 100%);
    background: linear-gradient(90deg, #395c53 0%, #118161 50%, #395c53 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#395c53", endColorstr="#395c53", GradientType=1);
    box-shadow: 0px 8px 20px rgba(17, 129, 97, 0.3);
    border-radius: 20px;
    text-align: center;
    padding: 50px 20px 40px;
    margin-bottom: 30px;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s; }
    #all-loan-section .all-loan-box:hover {
      box-shadow: 0px 8px 20px rgba(17, 129, 97, 0.5); }
      #all-loan-section .all-loan-box:hover img {
        transform: scale(1.1); }
    #all-loan-section .all-loan-box img {
      width: 100px;
      transform: scale(0.95);
      -webkit-transition: all linear 0.3s;
      -moz-transition: all linear 0.3s;
      -ms-transition: all linear 0.3s;
      -o-transition: all linear 0.3s;
      transition: all linear 0.3s; }
    #all-loan-section .all-loan-box p {
      font-weight: 700;
      font-size: 22px;
      color: #ffffff;
      padding: 20px 0px 0px 0px; }

/* --- all-loan-section End --- */
/* --- loan-category Start --- */
#loan-category {
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  padding: 250px 0px 150px 0px; }
  #loan-category .loan-category-header {
    text-align: center; }
    #loan-category .loan-category-header h3 {
      font-weight: 400;
      font-size: 32px;
      color: #000000;
      padding-bottom: 30px; }
      #loan-category .loan-category-header h3 span {
        font-weight: 700;
        color: #118161; }
  #loan-category .loan-category-form {
    background: rgba(255, 255, 255, 0.36);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    padding: 30px 25px; }
    #loan-category .loan-category-form .form-check {
      display: flex;
      align-items: center;
      background: #ffffff;
      padding: 10px 20px; }
      #loan-category .loan-category-form .form-check .form-check-input {
        width: 20px;
        height: 20px;
        margin: 0px; }
      #loan-category .loan-category-form .form-check .form-check-label {
        margin-left: 40px;
        cursor: pointer; }
    #loan-category .loan-category-form .form-control {
      height: 44px;
      border-radius: 0px;
      border: none;
      color: #000000;
      padding: 10px 12px;
      margin-bottom: 20px; }
    #loan-category .loan-category-form .loan-category-btn {
      display: flex;
      flex-direction: column;
      align-items: center; }
      #loan-category .loan-category-form .loan-category-btn .btn {
        display: block;
        border-radius: 15px;
        margin-bottom: 20px; }
        #loan-category .loan-category-form .loan-category-btn .btn:last-child {
          margin-bottom: 0px; }
      #loan-category .loan-category-form .loan-category-btn .btn-red {
        background: #9A4144; }
        #loan-category .loan-category-form .loan-category-btn .btn-red:hover {
          color: #000000; }
    #loan-category .loan-category-form .loan-category-personal {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      row-gap: 10px;
      -moz-column-gap: 10px;
      column-gap: 10px; }

.personal-loan {
  background: url(../images/personal-bg.png); }

.car-loan {
  background: url(../images/car-bg.png); }

.home-loan {
  background: url(../images/home-bg.png); }

/* --- loan-category End --- */
/* ==== Loan-page End ==== */
.top-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  border: 1px outset #118161;
  border-radius: 10px;
  font-weight: 700;
  color: #118161;
  display: none;
  text-align: center;
  z-index: 10;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s; }
  .top-up:hover {
    color: #ffffff;
    background: rgba(201, 223, 168, 0.3); }
  .top-up i {
    font-size: 18px;
    line-height: 42px; }

















































































/* ==== Responsive Start ==== */
@media (max-width: 1440px) {
  .section-gap {
    padding: 75px 0px; }

  .section-gap-top {
    padding-top: 75px; }

  .section-gap-bottom {
    padding-bottom: 75px; }

  .section-gap-m {
    margin: 75px 0px; }

  .section-gap-top-m {
    margin-top: 75px; }

  .section-gap-bottom-m {
    margin-bottom: 65px; }

  .wrapper-gap {
    padding: 35px 20px; }

  .btn {
    padding: 10px 5px; }

  #navbar-main {
    padding: 15px 0px; }

  .navbar-expand-lg .navbar-nav .nav-item {
    padding: 20px 20px; } }
@media (max-width: 1280px) {
  .section-gap {
    padding: 65px 0px; }

  .section-gap-top {
    padding-top: 65px; }

  .section-gap-bottom {
    padding-bottom: 65px; }

  .section-gap-m {
    margin: 65px 0px; }

  .section-gap-top-m {
    margin-top: 65px; }

  .section-gap-bottom-m {
    margin-bottom: 60px; }

  .all-header {
    padding: 0px 0px 30px 0px; }

  .btn {
    padding: 10px 5px;
    max-width: 200px;
    font-size: 16px; }

  #banner {
    padding: 200px 0px 80px 0px; }

  #banner .banner-text h1 {
    font-size: 45px; }

  #banner .banner-text p {
    font-size: 20px; }

  .main-dot-img {
    width: 300px; }

  #offer .offer-box p {
    font-size: 20px;
    padding: 15px 0px 0px 0px; }

  #financial {
    padding: 50px 0px 220px; }

  #count .count-text h5 {
    font-size: 26px; }

  #count .count-text p {
    font-size: 18px; }

  #review .review-text h3 {
    font-size: 36px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .section-gap {
    padding: 60px 0px; }

  .section-gap-top {
    padding-top: 60px; }

  .section-gap-bottom {
    padding-bottom: 60px; }

  .section-gap-m {
    margin: 60px 0px; }

  .section-gap-top-m {
    margin-top: 60px; }

  .section-gap-bottom-m {
    margin-bottom: 55px; }

  #navbar-main {
    padding: 12px 0px; }

  .banner-manu-black {
    padding: 8px 0px !important; }

  .navbar-expand-lg .navbar-nav .nav-item .nav-link {
    font-size: 17px; }

  #banner .banner-img img {
    position: absolute;
    top: -50px;
    left: -90px;
    width: 620px; }

  #best-deal .best-deal-main {
    margin-bottom: 30px; }

  #financial {
    padding: 50px 0px 150px; }

  #financial .financial-img img {
    left: -30px;
    width: 580px; }

  #financial .financial-main .financial-box .financial-subBox {
    padding: 0px 0px 35px 20px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .section-gap {
    padding: 55px 0px; }

  .section-gap-top {
    padding-top: 55px; }

  .section-gap-bottom {
    padding-bottom: 55px; }

  .section-gap-m {
    margin: 55px 0px; }

  .section-gap-top-m {
    margin-top: 55px; }

  .section-gap-bottom-m {
    margin-bottom: 50px; }

  #navbar-main {
    padding: 12px 0px; }

  .banner-manu-black {
    padding: 8px 0px !important; }

  .banner-manu-black .navbar-toggler {
    border: 1px outset #118161 !important; }

  .banner-manu-black .navbar-toggler .navbar-toggler-ico .icon-bar {
    background-color: #118161 !important; }

  .navbar-expand-lg .navbar-brand .nav-logo {
    max-height: 75px; }

  .navbar-expand-lg .navbar-nav .nav-item {
    padding: 15px 0px 0px;
    width: 100%; }

  .navbar-expand-lg .navbar-nav .nav-item:first-child {
    padding: 25px 0px 0px; }

  .navbar-expand-lg .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    width: 100%;
    padding: 0px 0px 0px; }

  .navbar-expand-lg .navbar-nav .nav-item .dropdown-toggle:after {
    margin-left: 3px;
    vertical-align: 2px; }

  .navbar-expand-lg .navbar-nav .nav-item .dropdown-menu {
    left: unset;
    transform: none;
    position: unset;
    top: unset;
    min-width: 100%;
    margin-top: 35px;
    margin-left: -65px; }

  #banner {
    padding: 110px 0px 40px 0px; }

  #banner .banner-img {
    text-align: center; }

  #banner .banner-img img {
    position: unset;
    top: unset;
    left: unset;
    width: 100%; }

  #banner .banner-obj2 {
    display: none; }

  #best-deal .best-deal-main {
    margin-bottom: 30px; }

  #financial {
    padding: 0px 0px 80px; }

  #financial .financial-img {
    text-align: center;
    padding-bottom: 30px; }

  #financial .financial-img img {
    position: unset;
    top: unset;
    left: unset;
    width: 100%; }

  #financial .financial-main .financial-box .financial-subBox {
    padding: 0px 0px 20px 0px; }

  #count .count-text {
    margin-bottom: 25px; }

  #review .review-text {
    text-align: center;
    padding-bottom: 20px; }

  #review .review-text h3 {
    font-size: 30px; }

  #readmore .readmore-main {
    margin-bottom: 30px; }

  #footer .footer-box {
    margin-bottom: 20px;
    text-align: center; } }
@media (min-width: 576px) and (max-width: 767px) {
  .section-gap {
    padding: 50px 0px; }

  .section-gap-top {
    padding-top: 50px; }

  .section-gap-bottom {
    padding-bottom: 50px; }

  .section-gap-m {
    margin: 50px 0px; }

  .section-gap-top-m {
    margin-top: 50px; }

  .section-gap-bottom-m {
    margin-bottom: 45px; }

  #navbar-main {
    padding: 12px 0px; }

  .banner-manu-black {
    padding: 8px 0px !important; }

  .banner-manu-black .navbar-toggler {
    border: 1px outset #118161 !important; }

  .banner-manu-black .navbar-toggler .navbar-toggler-ico .icon-bar {
    background-color: #118161 !important; }

  .navbar-expand-lg .navbar-brand .nav-logo {
    max-height: 75px; }

  .navbar-expand-lg .navbar-nav .nav-item {
    padding: 15px 0px 0px;
    width: 100%; }

  .navbar-expand-lg .navbar-nav .nav-item:first-child {
    padding: 25px 0px 0px; }

  .navbar-expand-lg .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    width: 100%;
    padding: 0px 0px 0px; }

  .navbar-expand-lg .navbar-nav .nav-item .dropdown-toggle:after {
    margin-left: 3px;
    vertical-align: 2px; }

  .navbar-expand-lg .navbar-nav .nav-item .dropdown-menu {
    left: unset;
    transform: none;
    position: unset;
    top: unset;
    min-width: 100%;
    margin-top: 35px;
    margin-left: -65px; }

  #banner {
    padding: 110px 0px 40px 0px; }

  #banner .banner-img {
    text-align: center; }

  #banner .banner-img img {
    position: unset;
    top: unset;
    left: unset;
    width: 100%; }

  #banner .banner-obj2 {
    display: none; }

  #best-deal .best-deal-main {
    margin-bottom: 30px; }

  #financial {
    padding: 0px 0px 80px; }

  #financial .financial-img {
    text-align: center;
    padding-bottom: 30px; }

  #financial .financial-img img {
    position: unset;
    top: unset;
    left: unset;
    width: 100%; }

  #financial .financial-main .financial-box .financial-subBox {
    padding: 0px 0px 20px 0px; }

  #count .count-text {
    margin-bottom: 25px; }

  #review .review-text {
    text-align: center;
    padding-bottom: 20px; }

  #review .review-box {
    margin-bottom: 20px; }

  #review .review-text h3 {
    font-size: 30px; }

  #readmore .readmore-main {
    margin-bottom: 30px; }

  #offer .offer-box {
    padding: 50px 20px;
    margin-bottom: 30px; }

  #footer {
    padding: 40px 0px; }

  #footer .footer-box {
    text-align: center;
    margin-bottom: 20px; } }
@media (max-width: 575px) {
  .section-gap {
    padding: 50px 0px; }

  .section-gap-top {
    padding-top: 50px; }

  .section-gap-bottom {
    padding-bottom: 50px; }

  .section-gap-m {
    margin: 50px 0px; }

  .section-gap-top-m {
    margin-top: 50px; }

  .section-gap-bottom-m {
    margin-bottom: 45px; }

  .btn {
    padding: 8px 5px;
    max-width: 180px;
    font-size: 15px; }

  #navbar-main {
    padding: 12px 0px; }

  .banner-manu-black {
    padding: 8px 0px !important; }

  .banner-manu-black .navbar-toggler {
    border: 1px outset #118161 !important; }

  .banner-manu-black .navbar-toggler .navbar-toggler-ico .icon-bar {
    background-color: #118161 !important; }

  .navbar-expand-lg .navbar-brand .nav-logo {
    max-height: 75px; }

  .navbar-expand-lg .navbar-nav .nav-item {
    padding: 15px 0px 0px;
    width: 100%; }

  .navbar-expand-lg .navbar-nav .nav-item:first-child {
    padding: 25px 0px 0px; }

  .navbar-expand-lg .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    width: 100%;
    padding: 0px 0px 0px; }

  .navbar-expand-lg .navbar-nav .nav-item .dropdown-toggle:after {
    margin-left: 3px;
    vertical-align: 2px; }

  .navbar-expand-lg .navbar-nav .nav-item .dropdown-menu {
    left: unset;
    transform: none;
    position: unset;
    top: unset;
    min-width: 100%;
    margin-top: 35px;
    margin-left: -65px; }

  #banner {
    padding: 130px 0px 40px 0px; }

  #banner .banner-img {
    text-align: center; }

  #banner .banner-img img {
    position: unset;
    top: unset;
    left: unset;
    width: 100%; }

  #banner .banner-obj2 {
    display: none; }

  #banner .banner-text {
    padding-bottom: 30px; }

  #banner .banner-text h1 {
    font-size: 30px; }

  #banner .banner-text p {
    font-size: 16px;
    padding: 5px 0px 15px 0px; }

  #best-deal .best-deal-main {
    margin-bottom: 30px; }

  #financial {
    padding: 0px 0px 80px; }

  #financial .financial-img {
    text-align: center;
    padding-bottom: 30px; }

  #financial .financial-img img {
    position: unset;
    top: unset;
    left: unset;
    width: 100%; }

  #financial .financial-main .financial-box .financial-subBox {
    padding: 0px 0px 20px 0px; }

  #count .count-text {
    margin-bottom: 25px; }

  #review .review-text {
    text-align: center;
    padding-bottom: 20px; }

  #review .review-box {
    margin-bottom: 20px; }

  #review .review-text h3 {
    font-size: 30px; }

  #readmore .readmore-main {
    margin-bottom: 30px; }

  #offer .offer-box {
    padding: 50px 20px;
    margin-bottom: 30px; }

  #footer {
    padding: 40px 0px; }

  #footer .footer-box {
    text-align: center;
    margin-bottom: 20px; } }
/* ==== Responsive End ==== */








/* ==== DPS CSS Start ==== */
#dps-content-area{
  background-color: rgba(17, 129, 97, 0.48);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  padding: 250px 0px 150px 0px;
}
.dps-list-option-btn-bg{
  background: rgba(255, 255, 255, 0.36);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  padding: 15px 0px;
}
.dps-list-checked{
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  padding: 25px;
  overflow: hidden;
}
.dps-list-checked-icon img{
  width: 80px;
  height: 75px;
  float: left;
}
.dps-list-checked-content h6 {
  font-size: 14px;
  padding-top: 15px;
}
.dps-list-checked-content p{
  font-size: 12px;
}
.form-group-custom-style .form-control{
  padding: 5px 2px;
  font-size: 15px;
  margin-bottom: 10px;
}
.dps-list-option {
  margin-top: 20px;
}
.dps-go-compare {
  background: #118161;
  border-radius: 10px;
  text-align: center;
  padding: 7px 20px;
}
.dps-go-compare a {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
.dps-bank-amount-search-bg{
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}
.bank-dps-amount p {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.bank-dps-amount-search{
  position: relative;
  float: right;
}
.bank-dps-amount-search i {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 10px;
  padding-right: 15px;
  color: #000000;
  font-size: 13px;
}
.bank-dps-amount-search input {
  width: 160px;
  height: 26px;
  background: #FFFFFF;
  border: 0.5px solid #808080;
  border-radius: 20px;
  padding: 15px 17px;
  font-size: 12px;
}
.bank-logo-card-bg {
  position: relative;
  background: rgba(255, 255, 255, 0.36);
  box-shadow: 0px 4px 6px rgb(0 0 0 / 25%);
  padding: 45px 35px;
}
.dps-bank-top-content{
  position: absolute;
  top: 0;
  left: 0;
}
.dps-bank-top-relation {
  background-color: #FF9733;
  padding: 0px 7px;
  line-height: 19px;
  border-radius: 0px 0px 10px 0px;
  font-size: 12px;
  color: #ffffff;
}
.dps-bank-top-i {
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 0px 3px;
  font-size: 8px;
  border-radius: 50%;
}
span.fixed-deposit {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-size: 15px;
}
span.tenk {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-size: 15px;
}
.bank-logo img {
  width: 181px;
  height: 46px;
}
.deposit-rang{
  width: 100%;
}
.bank-single-card {
  text-align: center;
  background: #FCFCFC;
  padding: 10px 0px;
}
.bank-card-content {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  color: #000000;
  display: block;
}
.bank-card-parsentage{
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  display: block;
  color: #3A5C53;
}
.bank-showmore-link{
  text-align: center;
}
.bank-showmore-link a {
  background: #118161;
  border-radius: 20px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 14px;
  color: #FFFFFF;
  padding: 8px 20px;
}
button.apply-now {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 14px;
  background: #9A4144;
  border-radius: 20px;
  color: #ffffff;
  padding: 4px 9px;
  float: left;
  margin-right: 5px;
}
button.choose-tenure {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 14px;
  background: #118161;
  border-radius: 20px;
  color: #ffffff;
  padding: 4px 9px;
  float: left;
}

/* ==== user profile Start ==== */
#profile-active-page-area{
  background-color: rgba(17, 129, 97, 0.48);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  padding: 180px 0px;
}
.profile-active-page-area{
  position: relative;
}
.profile-active-page-bg-dots-imgage-one {
  position: absolute;
  left: 0;
  top: 117px;
  padding-top: 15px;
  width: 343px;
  height: 80px;
  padding-left: 20px;
}
.profile-active-page-bg-dots-imgage-two {
  position: absolute;
  right: 0;
  top: -95px;
  width: 270px;
  height: 80px;
  padding-right: 5px;
}
.profile-active-page-bg-dots-imgage-three {
  position: absolute;
  right: 0;
  bottom: -179px;
  width: 270px;
  height: 72px;
  padding-right: 40px;
}
.user-profile-top {
  background: radial-gradient(50% 50% at 50% 50%, #118161 0%, #395C53 100%);
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  padding-top: 30px;
}
.user-profile-top i {
  background-color: #ffffff;
  color: #118161;
  font-size: 40px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 75px;
}
.user-profile-top p {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  padding-top: 13px;
  padding-bottom: 10px;
}
.user-profile-top a {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  background: #9A4144;
  border-radius: 50px;
  padding: 3px 10px;
  display: inline-block;
  margin-bottom: 30px;
}
.user-profile-top-list {
  padding-top: 35px;
  padding-left: 35px;
  background: #EDF7DE;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 0px 0px 10px 10px;
  padding-bottom: 60px;
}
.user-profile-top-list ul li{
  margin-bottom: 15px;
}
.user-profile-top-list ul li a {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  padding: 2px 10px;
  display: inline-block;
  border-radius: 20px;
  width: 160px;
}
.user-profile-top-list ul li a i {
  padding-right: 3px;
}
.user-profile-top-list ul li a:hover{
  color: #118161;
}
.user-profile-right-side {
  background: #EDF7DE;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 10px;
  padding: 50px;
}
.user-profile-right-side-top-list {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  width: 100%;
  padding-left: 20px;
  margin-bottom: 15px;
}
.user-profile-right-side-top-list ul li{
  float: left;
}
.user-profile-right-side-top-list ul li a {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  padding-right: 27px;
}
.user-profile-right-side-top-list ul li a:hover{
  color: #9A4144;
}
.user-profile-right-side-middle-content {
  background-color: #ffffff;
  padding: 30px 20px 0px 20px;
  border-radius: 5px;
  overflow: hidden;
}
.user-profile-view-details {
  float: right;
  padding-left: 10px;
  color: #000000;
}
.user-profile-view-details:hover {
    color: #9A4144;
}
.user-profile-progress-link {
  float: right;
  color: #000000;
}
.user-profile-progress-link:hover {
  color: #9A4144;
}
.user-profile-progress-icon{
  color: #FF9733;
}
.user-profile-standard-bank{
  padding-top: 50px;
  display: block;
}
.user-profile-date-time {
  padding-bottom: 35px;
  display: block;
}
.user-profile-supports-link a {
  background: #FF9733;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 20px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  padding: 7px 20px;
  position: absolute;
  bottom: 25px;
}
.user-profile-cancel-link{
  float: right;
}
.user-profile-cancel-link a {
  background: #9A4144;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 20px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  padding: 7px 19px;
  display: inline-block;
  margin-bottom: 24px;
}
/* user profile about me */

.user-profile-single-form {
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  margin-bottom: 14px;
  width: 260px;
}

.user-profile-single-form input, .user-profile-single-form select {
  background: #F4F9EC;
  width: 100%;
  display: block;
  padding: 5px 10px;
  color: #808080;
}
.user-profile-help-desk-tabile{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-align: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	height: 63vh;
}
.user-profile-track-application-head{
  text-align: center;
  padding-bottom: 50px;
}
.user-profile-track-application-box {
  background: rgba(255, 255, 255, 0.36);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 50px 30px;
  overflow: hidden;
}
.user-profile-track-application-form input {
  width: 100%;
  margin-bottom: 15px;
}
.user-profile-track-application-form input {
  width: 100%;
  margin-bottom: 15px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  padding: 10px;
}
.user-profile-track-application-form-submit a {
  background: #9A4144;
  border-radius: 20px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 20px;
}
.user-profile-track-application-form-forgot a {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  margin-top: 20px;
  display: block;
}

.user-profile-track-application-form-forgot a:hover {
  color: #9A4144;
}
.user-profile-track-application-back-btn a {
  background: #9A4144;
  border-radius: 20px;
  color: #fff;
  font-size: 14px;
  padding: 2px 12px;
  display: inline-block;
}
.user-profile-track-application-back-btn {
  float: right;
  margin-top: 40px;
}

/* trending-offers-area */
#trending-offers-area {
  background-color: rgba(17, 129, 97, 0.48);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  padding: 150px 0px 150px 0px;
}
.trending-menu ul li{
  float: left;
  border-right: 1px solid #000000;
}

.trending-menu ul li:last-child{border-right: 0px;}

.trending-menu ul li a {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  padding: 10px;
}
.trending-menu ul li a:hover{
  color: #118161;
}
.trendign-logo img{
  width: 100%;
  max-width: 100%;
}
.trending-offer-link a {
  background: #9A4144;
  border-radius: 20px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  padding: 10px 20px;
  float: right;
}
.trending-offers-details a{
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
button.button-apply{
  background: #9A4144;
  border-radius: 20px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  float: right;
  border-color: none;
}
.modal-main-bg {
  border: none;
  background: rgba(255, 255, 255, 0.7);
}
.modal-header-content-bg {
  position: relative;
  background: #118161;
  padding: 30px;
}
button.modal-close-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #9A4144;
  color: #ffffff;
  font-size: 16px;
  padding: 0px 10px;
  display: block;
  cursor: pointer;
}
.modal-title h5{
  color: #ffffff;
  font-size: 18px;
}
.modal-form{
  width: 60%;
  margin: auto;
}